template(name="ooAutoLogin")
  #ooAutoLogin.oo-auto-login
    button.js-loginAsAdmin(btn="critical push-all") Admin
    button.js-loginAsModerator(btn="warning push-all") Moderator
    button.js-loginAsSpeaker(btn="action push-all") Speaker
    button.js-loginAsUser(btn="neutral-dim push-all") User
    button.js-loginAsAnonymous(btn="neutral-dim push-all") Anonymous
    button.js-close(btn="neutral push-all") Close
