template(name="ooAutoLogin")
  #ooAutoLogin.oo-auto-login
    button(btn="critical push-all") Admin
    button(btn="warning push-all") Moderator
    button(btn="action push-all") User
    button(btn="neutral-dim push-all") Anonymous
    button.js-close(btn="neutral push-all") Close
